.card-detail-container{
  display: flex;
  flex-direction: column;
  font-size: large;
  border: solid 2px;
  padding: 8px;
  border-radius: 4px;
  width: 500px;
  margin-bottom: 16px;
}

.unvailable{
  background-color: rgba(255, 0, 0, 0.249);
}

.available{
  background-color: rgba(6, 229, 6, 0.381);
}
